/* Your existing CSS styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #808080;
    overflow-x: hidden;
    overflow-y: auto;
    /* Set the background image */
  background-image: url('https://images.unsplash.com/photo-1478860409698-8707f313ee8b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

  /* Specify the background image's size */
  background-size: cover;

  /* Set the background to cover the entire viewport */
  background-attachment: fixed;

  /* Set the background color as a fallback in case the image is not available or loaded */
  background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 44px;
    margin: 0;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

h3 {
    font-size: 37px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.budget-options {
    display: flex;
    justify-content: space-around;
}

.option {
    background-color: #808080;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #ddd;
}

.all-selected {
    background-color: #007bff;
    color: #fff;
}

.rectangle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rectangle {
    flex: 1;
    margin: 10px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    max-width: 500px;
    max-height: auto;
}

.frame {
    position: relative;
    text-align: left;
    padding: 10px;
}

.frame img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

.frame p {
    margin-top: 10px;
    font-size: 16px;
}

.buy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.buy-button:hover {
    background-color: #0056b3;
}

/* Additional styles for the login page */
label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

/* New styles for map and weather sections */
#map {
    height: 400px;
    width: 100%;
    margin-top: 20px; 
}

.weather-section {
    text-align: center;
    margin: 20px;
}

.prices {
    font-size: 20px;
    justify-content: flex-start;
}

#weather-data {
    /* Add styles for weather data here */
}

/* Include the Google Maps API script */